.top{
    position: fixed;
    left: 0;
    height: 100vh;
  
    background-color: #212121;
    padding: 1rem 1rem;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    box-sizing: border-box;
    width: var(--sidebar-width);
  

}
.brand{
    display: flex;
    align-items: center;
    gap: 1rem;
   

}
.brand svg{
    color: #ffc107;
    font-size: 1.5rem;
}
.brand span{
    color: #ffc107;
    font-size: 1.5rem;
      font-family: 'Permanent Marker', cursive;
}

.list_items{
  

}

.list_items  li a{
   
    text-decoration: none;
    color:white;
    display: flex;
    
 
}
ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1rem;
}
li a{
    padding: 0.6rem 1rem;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:1rem;
    
   
}
li:hover{
    background-color:#ffc107 ;
    border-radius: 0.6rem;
    width: 100%;
    


  
}

li:hover a{
    color: black;
  
}

span{
    color: yellow;
}
ul li span {
    color: white;
}
.logout{
   
    display: flex;
    align-items: center;
    justify-content: center;
    gap:0.6rem;
    color: white;
    /* margin-top: 90%; */
    margin-right: 14%;
}
.logout_link{
    padding: 0.3rem 1rem ;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:0.6rem;
    color:black;
    background-color:#ffc107 ;
    border-radius: 0.6rem;
    
    
}
.logout_link:hover{
    background-color: #da0037;
    border-radius: 0.6rem;
    text-decoration: none;
    color: black;
    
}

.logout_link a {
    text-decoration: none !important;
  }
  .active{
    background-color:#ffc107 ;
    border-radius: 0.6rem;
    width: 100%;
    
  }
  @media(max-width:768px)
  {
    li span{
display: none;
    }
    .brand span, .logout span{
        display: none;
    }
  }